body {
  height: 100vh;
  /* overflow: hidden; */
}

.body--overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex--centered--vertical {
  align-items: center;
}

.flex--centered--horizontal {
  justify-content: center;
}

.flex--space-between--horizontal {
  justify-content: space-between;
}

.container {
  margin: 0 auto !important;
  max-width: 1280px !important;
  width: 90% !important;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85% !important;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}

blockquote {
  margin: 20px 0 !important;
  padding-left: 1rem;
  border-left: 0;
  border-right: 3px solid #fb8c00;
}

.input-field input:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #fb8c00 !important;
}
/* label underline focus color */
.input-field input:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fb8c00 !important;
  box-shadow: 0 1px 0 0 #fb8c00 !important;
}

.size--small {
  font-size: 0.9rem;
}

.h-100 {
  height: 100vh;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.pt-12 {
  padding-top: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.button--rounded {
  border-radius: 5px;
}

.button__a--no-background:hover {
  background-color: white !important;
}

.button__a--no-pointer {
  cursor: default !important;
}

.button-logout {
  cursor: pointer;
  border:none; 
  background: transparent; 
  width:100%;
}

.button--primary--outline {
  background-color: white !important;
  color: #fb8c00;
  border: #fb8c00 solid 2px;
}

.button--primary--outline:hover {
  background-color: #fb8c00 !important;
  color: white;
}

.button--primary--outline--thin {
  border: #fb8c00 solid 1px;
}

.button--danger--outline {
  background-color: white !important;
  color: #f44336;
  border: #f44336 solid 2px;
}

.button--danger--outline:hover {
  background-color: #f44336 !important;
  color: white
}

.button--danger--outline--thin {
  border: #f44336 solid 1px;
}

.button--secondary--outline {
  background-color: white !important;
  color: #bdbdbd;
  border: #bdbdbd solid 2px;
}

.button--secondary--outline:hover {
  background-color: #bdbdbd !important;
  color: white
}

.button--secondary--outline--thin {
  border: #bdbdbd solid 1px;
}

.button--love--active {
  background-color: #f44336 !important;
  color: white;
}

.register__container {
  margin-top: 20px;
  padding: 0 20px;
}

.clearfix {
  clear: both;
}